<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1> Muchas gracias por su colaboración.</h1>
    </div>
</body>

<body onLoad="redireccionar()">

    <script>
        function redireccionar() {
            setTimeout("location.href='http://localhost:3000/login'", 5000);
        }
    </script>
</body>

</html>