<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="css/tasksScreen.css">
	<link rel="stylesheet" type="text/css" media="print" href="css/tasksPrint.css">
	<script src="/Práctica Voluntaria/PV4/routes/DAOTasks.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Aplicaciones Web</title>
</head>
<meta charset="utf-8" />
<link rel="icon" type="image/x-ico"
	href="https://www.learningcontainer.com/wp-content/uploads/2020/09/Sample-ICO-file-Download-for-testing.ico">
<h12>UCM-CAU</h12>
</head>

<body>
	<div class="estructura cabecera">
		<div class="estructura icono">
			<img src="https://upload.wikimedia.org/wikipedia/donate/4/4f/Museum_Icon_local.png" height="48" width="64"
				alt="icono">
		</div>
		<div class="estructura caja-derecha">
			<p class="estructura datos">
				<a class="a1" href=>campusVerano2022@ucm.es</a>
			</p>
			<div class="estructura usuario">
				<img src="https://www.softzone.es/app/uploads-softzone.es/2018/04/guest.png" height="50" width="50"
					alt="usr">
			</div>
			<div class="boton">
				<button class="boton1" onclick="window.location.href='/logOut';"> Desconectar</button>
			</div>
		</div>
		<div>
			<form class="search_form" action="/search" method="POST">
				<input class="search_form" type="text" name="text" placeholder="Buscar" required>
				<input class="task_button search_form" type="submit" value="BUSCAR">
			</form>
		</div>
		<h2>Centro de atención al usuario</h2>
	</div>
	<main>
		<div class="own">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th scope="col">Fecha</th>
						<th scope="col">Texto</th>
						<th scope="col">Tipo</th>
						<th scope="col">Técnico</th>
					</tr>
				</thead>
				<tbody>
					<% tasks.forEach(function(task, i) { %>
						<% if (!task.done) { %>
							<tr>
								<th scope="row">
									<%= task.id %>
								</th>
								<td>
									<%= task.text %>
								</td>
								<td>
									<%= task.prioridad %>
								</td>
								<td>
									<%= task.idUser %>
								</td>
							</tr>
							<% } %>
								<% }); %>
				</tbody>
			</table>
		</div>


		<!-- Contenido de la ventana modal -->
		<button id="open-modal-btn">Nuevo Aviso</button>

		<!-- Ventana modal -->
		<div id="modal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<div class="container">
					<button type="button" class="btn btn-primary2" data-toggle="modal" data-target="#sugerenciasModal">
						Sugerencias
					</button>
					<!-- HTML del modal -->
					<div class="modal fade" id="sugerenciasModal" tabindex="-1" role="dialog"
						aria-labelledby="sugerenciasModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header-sugerencias">
									<h5 class="modal-title" id="sugerenciasModalLabel">Sugerencias</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="opcionesSelect">Selecciona una opción:</label>
										<select class="form-control" id="opcionesSelect">
											<% if (!tasks.type !=0) { %>
												<option value="Certificado digital de personal física">Certificado
													digital de personal física</option>
												<% } %>
													<option value="Certificado electrónico de empleado público">
														Certificado electrónico de empleado público</option>
													<option value="Registro electrónico">Registro electrónico</option>
													<option value="Sede electrónica">Sede electrónica</option>
													<option value="Portafirmas">Portafirmas</option>
													<option value="Correo electrónico">Correo electrónico</option>
													<option value="Google Meet">Google Meet</option>
													<option value="Cuenta de Alumno">Cuenta de Alumno</option>
													<option value="Cuenta de personal">Cuenta de personal</option>
													<option value="Cuenta genérica">Cuenta genérica </option>
													<option value="Cuenta as la Red SARA">Cuenta as la Red SARA</option>
													<option value="Conexión por cable en despachos">Conexión por cable
														en despachos</option>
													<option value="Cortafuegos corporativo">Cortafuegos corporativo
													</option>
													<option value="Resolución de nombres de dominio (DNS)">Resolución de
														nombres de dominio (DNS)</option>
													<option value="VPN Acceso remoto">VPN Acceso remoto</option>
													<option value="Wifi Eduroam (ssid: eduroam)">Wifi Eduroam (ssid:
														eduroam)</option>
													<option value="Wifi para visitantes (ssid: UCM-Visitantes)">Wifi
														para visitantes (ssid: UCM-Visitantes)</option>
													<option value="Aula Virtual">Aula Virtual</option>
													<option value="Blackboard Collaborate">Blackboard Collaborate
													</option>
													<option value="Listados de clase">Listados de clase</option>
													<option value="Moodle: Aula Global">Moodle: Aula Global</option>
													<option value="Plataforma de cursos online Privados">Plataforma de
														cursos online Privados</option>
													<option value="Analítica Web">Analítica Web</option>
													<option value="Emisión de certificados SSL">Emisión de certificados
														SSL</option>
													<option value="Hosting: alojamiento de páginas web">Hosting:
														alojamiento de páginas web</option>
													<option value="Portal de eventos">Portal de eventos</option>
													<option value="Redirecciones web">Redirecciones web</option>
										</select>
									</div>
									<div class="form-group">
										<label for="sugerenciasTextarea">Escribe tu Sugerencia:</label>
										<textarea class="form-control" id="sugerenciasTextarea" rows="3"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
									<button type="button" class="btn btn-primary">Enviar</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-primary3" data-toggle="modal" data-target="#incidenciasModal">
						Incidencias
					</button>
					<!-- HTML del modal -->
					<div class="modal fade" id="incidenciasModal" tabindex="-1" role="dialog"
						aria-labelledby="incidenciasModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header-incidencias">
									<h5 class="modal-title" id="incidenciasModalLabel">Incidencias</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="opcionesSelect">Selecciona una opción:</label>
										<select class="form-control" id="opcionesSelect">
											<% if (!tasks.type !=0) { %>
												<option value="Certificado digital de personal física">Certificado
													digital de personal física</option>
												<% } %>
													<option value="Certificado electrónico de empleado público">
														Certificado electrónico de empleado público</option>
													<option value="Registro electrónico">Registro electrónico</option>
													<option value="Sede electrónica">Sede electrónica</option>
													<option value="Portafirmas">Portafirmas</option>
													<option value="Correo electrónico">Correo electrónico</option>
													<option value="Google Meet">Google Meet</option>
													<option value="Cuenta de Alumno">Cuenta de Alumno</option>
													<option value="Cuenta de personal">Cuenta de personal</option>
													<option value="Cuenta genérica">Cuenta genérica </option>
													<option value="Cuenta as la Red SARA">Cuenta as la Red SARA</option>
													<option value="Conexión por cable en despachos">Conexión por cable
														en despachos</option>
													<option value="Cortafuegos corporativo">Cortafuegos corporativo
													</option>
													<option value="Resolución de nombres de dominio (DNS)">Resolución de
														nombres de dominio (DNS)</option>
													<option value="VPN Acceso remoto">VPN Acceso remoto</option>
													<option value="Wifi Eduroam (ssid: eduroam)">Wifi Eduroam (ssid:
														eduroam)</option>
													<option value="Wifi para visitantes (ssid: UCM-Visitantes)">Wifi
														para visitantes (ssid: UCM-Visitantes)</option>
													<option value="Aula Virtual">Aula Virtual</option>
													<option value="Blackboard Collaborate">Blackboard Collaborate
													</option>
													<option value="Listados de clase">Listados de clase</option>
													<option value="Moodle: Aula Global">Moodle: Aula Global</option>
													<option value="Plataforma de cursos online Privados">Plataforma de
														cursos online Privados</option>
													<option value="Analítica Web">Analítica Web</option>
													<option value="Emisión de certificados SSL">Emisión de certificados
														SSL</option>
													<option value="Hosting: alojamiento de páginas web">Hosting:
														alojamiento de páginas web</option>
													<option value="Portal de eventos">Portal de eventos</option>
													<option value="Redirecciones web">Redirecciones web</option>
										</select>
									</div>
									<div class="form-group">
										<label for="incidenciasTextarea">Escribe tu Incidencia:</label>
										<textarea class="form-control" id="incidenciasTextarea" rows="3"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
									<button type="button" class="btn btn-primary">Enviar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- HTML del botón modal -->
					<button type="button" class="btn btn-primary1" data-toggle="modal"
						data-target="#felicitacionesModal">
						Felicitaciones
					</button>
					<!-- HTML del modal -->
					<div class="modal fade" id="felicitacionesModal" tabindex="-1" role="dialog"
						aria-labelledby="felicitacionesModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header-felicitaciones">
									<h5 class="modal-title" id="felicitacionesModalLabel">Felicitaciones</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="opcionesSelect">Selecciona una opción:</label>
										<select class="form-control" id="opcionesSelect">
											<option value="Archivo Universitario">Archivo Universitario</option>
											<option value="Asesoría Jurídica">Asesoría Jurídica</option>
											<option value="Biblioteca">Biblioteca</option>
											<option value="Centro de Información">Centro de Información</option>
											<option value="Departamentos docentes">Departamentos docentes</option>
											<option value="Inspección de Servicios">Inspección de Servicios</option>
											<option value="Oficina de Gestión de Infraestructuras y Mantenimiento">
												Oficina de Gestión de Infraestructuras y Mantenimiento</option>
											<option value="Servicio de Administración">Servicio de Administración
											</option>
											<option value="Servicios Informáticos">Servicios Informáticos</option>
											<option value="Servicio de Documentación">Servicio de Documentación</option>
											<option value="Servicio de Imprenta">Servicio de Imprenta</option>
											<option value="Servicio de Cafetería">Servicio de Cafetería</option>
											<option value="Toda la Universidad">Toda la Universidad</option>
										</select>
									</div>
									<div class="form-group">
										<label for="felicitacionesTextarea">Escribe tu felicitación:</label>
										<textarea class="form-control" id="felicitacionesTextarea" rows="3"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
									<button type="button" class="btn btn-primary">Enviar</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</main>
	<script>
		// Obtener el botón para abrir la ventana modal
		var btn = document.getElementById("open-modal-btn");

		// Obtener la ventana modal
		var modal = document.getElementById("modal");

		// Obtener el botón para cerrar la ventana modal
		var closeBtn = document.getElementsByClassName("close")[0];

		// Cuando el usuario haga clic en el botón, abrir la ventana modal
		btn.onclick = function () {
			modal.style.display = "block";
		}

		// Cuando el usuario haga clic en el botón de cerrar, cerrar la ventana modal
		closeBtn.onclick = function () {
			modal.style.display = "none";
		}

		// Cuando el usuario haga clic fuera de la ventana modal, cerrarla también
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>

</html>