<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Resultados</h1>
        <p></p>
        <table class="table">
            <tr>
                <th>Rango de edad</th>
                <th>Canal</th>
                <th>Residencia</th>
            </tr>
            <% resultados.forEach(function (r) {%>
            <tr>
                <td><%= r.edad %></td>
                <td><%= r.canal %></td>
                <td><%= r.residencia %></td>
            </tr>
            <% }) %>
        </table>

    </div>
</body>