<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Resultados</h1>
        <p></p>
        <%=matriz[0][0]%>
    </div>
</body>