
body {
    --structure-margin: 5px;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 10%;
    gap: 5px;
}

.estructura {
    width: 100%;
    height: 100%;
}

.cabecera {
      position:fixed;
  width: 100%;
  height: 25.6%;
  background-color: grey;
  text-align : center;
  border-color: darkgrey;
  border-style: solid;
  top: 0;
}

.icono {
    width: auto;
    height: auto;
    float: left;
    float: top;

}

.titulo {
    width: 30%;
    float: right;
}