
body {
    --structure-margin: 5px;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 10%;
    gap: 5px;
}

.estructura {
    width: 100%;
    height: 100%;
}

.titulo {
}

.contenido {
    
}

.pie-de-pagina {
    background-color: black;
    
}

.centro-grande {
    background-color: yellow;
    width: 70%;
    float: right;
    
}

.centro-peque {
    background-color: maroon;
    width: 29.7%;
   float: left;

}

.intermedio {
    background-color: green;
    float: bottom;
    height: 37%;
}

.arriba {
    background-color: aqua;
    float: top;
    height: 60%;
    margin-bottom: 5px;
}