<!DOCTYPE html>
<html lang="es">
<style>
    .error {
        background-color: red;
        height: 1%;
        width: 30%;
    }
</style>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <form action="/login" method="post">
            <input type="text" class="form-control" name="name" id="name" placeholder="nombre" required>
            <input type="text" class="form-control" name="password" id="password" placeholder="newPassword" required>
            <label for="password" class="<%= error ? 'error' : '' %>">.</label>
            <input type="submit" id="botonEnviar" class="btn btn-primary rounded submit p-3 px-5" value="Enviar" />
        </form>
    </div>
</body>