
body {
    --structure-margin: 5px;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 10%;
    gap: 5px;
}

.estructura {
    width: 100%;
    height: 100%;
}

.cabecera {
  position:fixed;
  width: 100%;
  height: 25.6%;
  text-align : center;
  top: 0;
  display: none;
}

.icono {
  width: auto;
  height: auto;
  float: inline-start;
  float: left;
  margin-bottom: 16px;
  margin-left: 8px;
  display: none;
}


.usuario {
    width: auto;
    height: 10%;
    float: right;
    margin-right:8px;
    display: none;
}

.datos {
  float: right;  
  width: auto;
  height: auto;
  padding: 4px;
  border-color: black; 
  border-style: solid;
  margin-right:8px;
  color: red;
  display: none;
}

.boton {
    float: right;
    margin-right: 64px;
    margin-left: 80%;
    display: none;
}

.caja-derecha{
    width: 35%;
    height: auto;
    float: right;
    display: none;
}

.caja {
    display: inline;
}

.centro {
    margin-top: 10%;
}

.cajita{
    position: relative;
    border-color: darkblue;
    border-style: solid;
    border-radius: 4px;
    height: 50%;
    padding: 4px;
    width: auto;
    
    display: flex;
    align-items: center;
    margin-left: 8px;
    color:black;
    display: none;
    
}

.span1 {
    margin-left: 8px;
    display:inline;
}

.span2{
    display: none;
}

.tachado{
    text-decoration:line-through;
    margin-left: 8px;
}

.finalizar{
    padding: 1px;
    float: right;
    border-color: darkblue;
    border-style: solid;
    height:80%;
    width:10%;
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-right: 2px;
    display: none;
   
}

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }

  a:visited {
    color: red;
    background-color: transparent;
    text-decoration:none;
  }

  a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

  .alineador{
    margin-top: 8px;
    display: inline-flex;
   float: left;
   align-items: center;
   
  }
  .span3{
    color:black;
  }
  .aniadir {
    float: right;
    border-style: solid;
    border-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 28%;
    font-size: larger;
    display:none;
}