    body {
        background-color: rgb(235, 230, 181);
    }

    h2 {
        text-align: left;
        height: 0.1em;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    form {

        padding: 0.5em;
        border-style: double;
        border-color: rgb(19, 77, 57);
        border-radius: 0.5em;
        border-width: 0.5em;
    }

    div+div {
        margin-top: 2em;
    }

    label span {
        display: inline-block;
        text-align: right;
    }

    input {
        font: 1em sans-serif;
        /*width: 250px;*/
        width: 11em;
        box-sizing: border-box;
        border: 1px solid #999;
    }

    input[type=checkbox],
    input[type=radio] {
        width: auto;
        border: none;
    }

    input:focus,
    textarea:focus {
        border-color: #000;
    }

    textarea {
        vertical-align: top;
        height: 5em;
        resize: vertical;
    }

    fieldset {
        width: 250px;
        box-sizing: border-box;
        margin-left: 136px;
        border: 1px solid #999;
    }

    button {
        margin: 20px 0 0 124px;
    }

    label {
        position: relative;
    }

    select {
        font-size: medium;
    }

    .head {
        text-align: left;
    }

    .container {
        border: 0.1em dotted rgb(116, 13, 13);
        border-radius: 0.2em;
        padding: 0.5em;
        border-width: 0.2em;
    }


    .container>.row {
        display: flex;
        flex-direction: row;
    }

    .column {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 0.1em;
    }

    .column-flex {
        display: block;
    }

    .filebutton {
        width: 21em;
        display: block;
    }

    .mybutton {
        margin-top: 1em;
        margin-right: 1em;
        width: 15em;
        height: 2em;
        display: inline;
    }

    .derecha {
        display: inline;
        padding-left: 14em;
    }

    .izquierda {
        display: inline;
    }

    .lalign-right {
        text-align: right;
        padding-left: 0.2em;
    }

    .lalign-left {
        text-align: left;
    }

    .font1 {
        font-family: sans-serif;
        font-size: larger;
    }

    .opiniontext {
        width: 97%;
        line-height: 90%;
    }

    .align-right {
        display: inline;
        float: right;
    }