<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .table {
            width: 1000px;
        }
    </style>

</head>

<body>
    <h1>Resultados</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Edad</th>
                    <th scope="col">Canal</th>
                    <th scope="col">Residencia</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function (i){%>
                <tr>
                    <td>
                        <%= i.edad %>
                    </td>
                    <td><%= i.canal %>
                    </td>
                    <td><%= i.residencia %>
                    </td>
                    <% }) %>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>