.block{
    display: inline-block;
    vertical-align: top;
}
.list{
    display: inline-block;
    margin: 0.7em;
}
.paragraphs{
    display: inline-block;
    position: absolute;
    margin: 0.7em;
}
.block2{
    display: flex;
    flex-direction: row;
}
.paragraphs2{
    display: flex;
    flex-direction: row;
    margin-right: 0.7em;
}
.title{
    text-align: center;
}